<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
    <title>Credit Card</title>
</head>
<body>
<h1 th:inline="text">Credit Card Application</h1>
<h2 th:inline="text">User: [[${#httpServletRequest.remoteUser}]]</h2>
<div>
    <form th:action="@{/creditcard}" th:object="${creditCardModel}" method="post">
        <h2 >Add a card</h2>
        <table>
            <tr>
                <td>Card Number:</td>
                <td><input type="text" th:field="*{number}" /></td>
                <td th:if="${#fields.hasErrors('number')}" th:errors="*{number}"/>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{name}" /></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
            </tr>
            <tr>
                <td>Expiry Date:</td>
                <td><input th:type="text" th:field="*{expiryDate}" th:value="${#dates.format(creditCardModel.expiryDate, 'yy/MM')}"
                           pattern="[0-9]{2}/[0-9]{2}" placeholder="yy/MM" maxlength="5"  /></td>
                <td th:if="${#fields.hasErrors('expiryDate')}" th:errors="*{expiryDate}"/>
            </tr>
            <tr>
            	<td/>
                <td><button type="submit">Save</button></td>
            </tr>
        </table>
    </form>
    <h4><a th:href="@{/search}">Return</a></h4>
</div>
<form th:action="@{/logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>