<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Credit Card </title>
</head>
<body>
<div th:if="${error != null}" th:text="${error}" >
    Invalid username and password.
</div>
<div th:if="${logout != null}" th:text="${logout}" >
    You have been logged out.
</div>
<div>
    <form th:action="@{/login}" method="post">
        <h2 >Log in</h2>
        <table>
            <tr>
                <td>User Name:</td>
                <td><input type="text" name="username" autofocus="true" /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td><button type="submit">Submit</button></td>
            </tr>
        </table>
        <h4><a th:href="@{/registration}">Create an account</a></h4>
    </form>
</div>
</body>
</html>